*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
}

body>* {
    padding: 0 20px;
}

/* header */
header {
    width: 100%;
    /* border: 1px solid red; */
    background-image: url("../img/pattern.png");
    background-color: #4EA0FF;
    background-repeat: repeat-x;
    background-size: 500px;
}

header img {
    /* border: 1px solid red; */
    width: 300px;
    margin-top: 40px;
}

/* main */
main {
    border: 1px solid red;
    padding-top: 30px;
}

.title {
    font-size: 3.5rem;
}

.author {
    color: #57BEEC;
    font-weight: bold;
}

.date {
    font-size: small;
}

.grey-color {
    color: grey;
}